<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="solutionPath" value="C:\dev\Github\CodinGameFall2020\Bot\Model"/>
    <add key="exclusionDirectories" value="bin,obj,Tests,/obj/debug"/>
  </appSettings>
</configuration>